@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden font-sourceSerif4;
  }
}

@layer utility {
  .prose-wrapper {
    @apply relative z-20 m-auto max-w-articleMaxWidth px-4 pt-12;
  }

  .quote {
    position: relative;
  }
  .quote::before {
    content: open-quote;
  }
  .quote::after {
    content: close-quote;
  }

  .reading-time {
    @apply inline-block text-sm text-gray-600;
  }
  .reading-time::before {
    @apply mr-1 opacity-50 transition-opacity duration-700 group-hover:opacity-100;
    content: '⌚';
  }

  .highlight {
    @apply rounded-br-2xl rounded-tl-2xl bg-strongBg font-semibold;
  }
  .highlight code {
    @apply bg-mark;
  }

  /*TRUSTED TITLE*/
  .trusted-title {
    text-decoration-color: inherit;
    text-decoration-thickness: 2px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 4px;
  }
}

/*noinspection CssNoGenericFontName*/
@supports not (font-family: 'VT323') {
  .font-vt323 {
    font-weight: bold; /* Bold Courier New to approximate VT323's appearance */
  }
}

/*GLOBAL*/
strong {
  @apply font-semibold;
}

/*SLIDING LINK*/
@keyframes slideBackground {
  from {
    background-position:
      calc(20px * -1) 100%,
      100% 100%,
      0 100%;
  }
  to {
    background-position:
      calc(100% + 20px) 100%,
      100% 100%,
      0 100%;
  }
}

.rendered-markdown hr,
.fancy {
  @apply bg-drakenhofNightshade;
  border: 0;
  height: 1px;
  margin: 30px auto;
  overflow: visible;
  position: relative;
  width: 16vw;
}

.rendered-markdown hr::before,
.fancy::before {
  @apply border-2 border-solid border-drakenhofNightshade bg-drakenhofNightshade;
  content: '';
  display: inline-block;
  height: 9px;
  left: 50%;
  margin: 0 0 0 -3px;
  position: absolute;
  top: -4px;
  transform: rotate(45deg);
  width: 9px;
}

/*SQUIGGLE LINK*/
.squiggle-link {
  @apply relative inline-block pb-2 pt-1 leading-none text-[--highlight-color-1] no-underline text-shadow-title;
  background: linear-gradient(
      to bottom,
      var(--highlight-color-1) 0%,
      var(--highlight-color-1) 100%
    )
    repeat-x 0 100%;
  background-size: 3px 3px;
}

.squiggle-link:focus,
.squiggle-link:hover {
  @apply bg-left-bottom no-underline motion-safe:bg-wavyBg;
  background-size: auto 6px;
  background-repeat: repeat-x;
}

.squiggle-link:focus {
  outline: 2px dashed;
}

.squiggle-link > svg {
  @apply absolute left-full top-3 scale-50 fill-current transition-all min-h-home:left-[104%];
}

/*ARTICLE CONTENT*/
.rendered-markdown {
  @apply mb-10 text-lg;
}
.rendered-markdown h1,
.rendered-markdown h2,
.rendered-markdown h3,
.rendered-markdown h4,
.rendered-markdown h5,
.rendered-markdown h6 {
  @apply relative font-bold text-gray-700;
}
.rendered-markdown h1:hover .anchor,
.rendered-markdown h2:hover .anchor,
.rendered-markdown h3:hover .anchor,
.rendered-markdown h4:hover .anchor,
.rendered-markdown h5:hover .anchor,
.rendered-markdown h6:hover .anchor {
  @apply scale-100 opacity-80;
}
.rendered-markdown h2 {
  @apply mb-4 mt-8 text-2xl;
}
.rendered-markdown h3 {
  @apply mb-2 mt-5 text-xl;
}
.rendered-markdown p {
  @apply my-5;
}
.rendered-markdown pre {
  @apply box-border
  rounded
  border
  border-codeBoxShadow
  bg-codeBackground
  font-code
  text-base;
}
.rendered-markdown pre code {
  @apply rounded font-code;
}
.rendered-markdown small {
  @apply my-2 inline-block leading-tight;
}
.rendered-markdown blockquote {
  @apply ml-5 border-l-4 border-drakenhofNightshade italic;
}
.rendered-markdown blockquote p {
  @apply my-5 pl-3;
}
.rendered-markdown blockquote p strong {
  @apply bg-none;
}
.rendered-markdown abbr {
  @apply cursor-help;
  text-underline-offset: 2px;
}
.rendered-markdown strong:not(li strong) {
  @apply highlight;
}
.rendered-markdown figure {
  @apply mt-2 rounded bg-gray-100 p-1 transition;
}
.rendered-markdown figcaption {
  @apply pt-1 text-sm leading-tight text-gray-600 transition-colors;
}
.rendered-markdown figure:hover {
  @apply bg-gray-300;
}
.rendered-markdown figure:hover figcaption {
  @apply text-gray-700;
}
.rendered-markdown img {
  @apply inline-block w-full max-w-full text-center font-sourceSerif4 text-xs italic leading-loose text-gray-600 outline-imageOutline;
}
.rendered-markdown img::before {
  @apply block bg-gray-200 p-2;
}
.rendered-markdown img::after {
  content: ' (Image did not load)';
  display: block;
}
.rendered-markdown ol {
  @apply list-decimal pl-8;
}
.rendered-markdown ul {
  @apply list-disc pl-8;
}
.rendered-markdown ul li::marker {
  @apply rotate-45;
}
.rendered-markdown iframe {
  @apply mt-5 w-full;
  height: 600px;
}
.rendered-markdown hr {
  @apply fancy;
}
.rendered-markdown kbd,
.rendered-markdown:not(pre) > code {
  @apply relative m-0 rounded-sm bg-inlineCodeBackgroundColor font-semibold text-gray-600;
  font-size: 80%;
  padding: 0.1em 0.4em 0.2em;
  top: -1px;
}
.rendered-markdown code {
  @apply relative m-0 rounded-sm bg-inlineCodeBackgroundColor font-semibold text-gray-600;
  font-size: 80%;
  padding: 0.1em 0.4em 0.2em;
  top: -1px;
}
.rendered-markdown .anchor {
  @apply absolute left-[-1.25rem] top-2 block h-[18px] w-[18px] scale-90 text-drakenhofNightshade opacity-30 transition group-hover:opacity-100;
}

.animated-link-underline,
.rendered-markdown a:not(.anchor) {
  @apply text-drakenhofNightshade;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}
.animated-link-underline::before,
.rendered-markdown a:not(.anchor)::before {
  @apply bg-drakenhofNightshade;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transform: scaleX(0);
  transition:
    opacity 200ms ease-out,
    transform 200ms ease-out;
  width: 100%;
}
.animated-link-underline:focus-visible,
.animated-link-underline:focus,
.rendered-markdown a:not(.anchor):focus-visible,
.rendered-markdown a:not(.anchor):focus {
  @apply outline-dashed outline-2 outline-offset-2 outline-drakenhofNightshade;
}
.animated-link-underline:hover,
.rendered-markdown a:not(.anchor):hover {
  transition-duration: 150ms;
}
.animated-link-underline:hover::before,
.rendered-markdown a:not(.anchor):hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.animated-link-underline:hover .arrow {
  transform: scaleX(1.5);
}

/*TAGS*/
.pseudo-bullet {
  @apply relative inline-block whitespace-nowrap;
  padding: 0.1em 0.6em 0.1em 0.2em;
}

/*COMPANIES*/
.company {
  display: inline-block;
  line-height: 1em;
  margin-right: 0.6em;
  padding: 0.1em 0.6em 0.1em 0.2em;
  pointer-events: auto;
  position: relative;
  white-space: nowrap;
}
.company:not(:last-of-type)::after {
  content: '•';
  margin-left: 0.5em;
}
