.background {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  transition: opacity 200ms 120ms ease-out;
  z-index: 1;
}
.background--party-mode {
  animation: spin 5s infinite linear;
}
.background--hidden {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0ms;
}
.background .canvas-fallback {
  z-index: 1;
}
.background .canvas-fallback--faded {
  opacity: 0;
  transition-duration: var(--canvas-transition-duration-out);
}

.global-header--small .o-sliding-background-link:focus-visible {
  outline: 8px dashed var(--app-color-accent-1);
  outline-offset: 14px;
}
.global-header__title a {
  --o-sliding-background-link-underline-color: transparent;
  --o-sliding-background-link-underline-color-hover: var(--app-color-accent-2);
  --o-sliding-background-link-color-underline-height: 4px;
  padding: 0;
  text-decoration: none;
}
.global-header__title a:any-link {
  color: inherit;
}
