<article class="article">
  <nav class="article__nav">
    <a
      class="article__nav-link o-animated-link-underline"
      routerLink="/articles"
      ><span>&#8668;</span> Back to all articles</a
    >
  </nav>
  <div
    class="article__content line-numbers"
    *ngIf="articleMetadata$ | async as metadata; else loading"
    @fadeInUpOnEnter
    @fadeOutDownOnLeave
  >
    <scully-content></scully-content>
  </div>

  <ng-template #loading>
    <ngx-skeleton-loader
      count="1"
      [theme]="skeletonSizes.title"
    ></ngx-skeleton-loader>

    <ng-container *ngFor="let description of skeletonSizes.description">
      <ngx-skeleton-loader
        count="1"
        [theme]="description"
      ></ngx-skeleton-loader>
    </ng-container>
  </ng-template>

  <bc-tag-links [tags]="(articleMetadata$ | async).tags" routeBase="/articles">
    <h6>Tags:</h6>
  </bc-tag-links>
</article>
