:host {
  display: block;
}

.tags-wrapper {
  padding: 1rem 1rem 2rem;
  text-align: center;

  header {
    &::ng-deep {
      & > * {
        color: var(--app-color-dark);
        font-family: var(--font-stack-serif);
        font-size: 16px;
        margin-bottom: 0.6em;
      }
    }
  }
}

.tags {
  text-align: center;

  .tag {
    display: inline-block;
    font-family: var(--font-stack-unicode);
    font-size: 18px;
    margin: 0.4em 0.6em;
    pointer-events: auto;
  }
}
